.social-media-container
  .social-medias
    .facebook
      = link_to "https://www.facebook.com/", class: "facebook__btn" do
        = icon('fab', 'facebook-square')
    .twitter
      = link_to "https://twitter.com/", class: "twitter__btn" do
        = icon('fab', 'twitter')
    .line
      = link_to "https://line.me/ja/", class: "line__btn" do
        = icon('fab', 'line')
    .pinterest
      = link_to "hhttps://www.pinterest.jp/", class: "pinterest__btn" do
        = icon('fab', 'pinterest')