.item-details
  = render "header"
  = render "exhibition-item"
  = render "negotiation"
  = render "social-media-box"
  = render "user-items-box"
  = render "other-items-box"
  = render "crumbs"
  = render "banner"
  = render "footer"