.mypage__main__right-content
  .mypage__main__right-content__user-icon
    .mypage__main__right-content__user-icon__box
      = link_to "#" do
        .mypage__main__right-content__user-icon__box__figure
          .mypage__main__right-content__user-icon__box__figure__img
            = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
          .mypage__main__right-content__user-icon__box__figure__name
            佐藤健
        .mypage__main__right-content__user-icon__box__number
          .mypage__main__right-content__user-icon__box__number__list
            .mypage__main__right-content__user-icon__box__number__list__evaluation
              評価 
              %span.number
                5
            .mypage__main__right-content__user-icon__box__number__list__exhibition
              出品数
              %span.number
                1
  .mypage__main__right-content__todo
    .mypage__main__right-content__todo__title
      .mypage__main__right-content__todo__title__box
        やることリスト
    .mypage__main__right-content__todo__lists
      .mypage__main__right-content__todo__lists__list
        .mypage__main__right-content__todo__lists__list__figure
          .mypage__main__right-content__todo__lists__list__figure__logo
            = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
          .mypage__main__right-content__todo__lists__list__figure__title
            ポケモンゴー
            .mypage__main__right-content__todo__lists__list__figure__title__box
              .mypage__main__right-content__todo__lists__list__figure__title__box__icon
                a
              .mypage__main__right-content__todo__lists__list__figure__title__box__time
                2時間前
      .mypage__main__right-content__todo__lists__list
        .mypage__main__right-content__todo__lists__list__figure
          .mypage__main__right-content__todo__lists__list__figure__logo
            = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
          .mypage__main__right-content__todo__lists__list__figure__title
            ポケモンゴー
            .mypage__main__right-content__todo__lists__list__figure__title__box
              .mypage__main__right-content__todo__lists__list__figure__title__box__icon
                a
              .mypage__main__right-content__todo__lists__list__figure__title__box__time
                2時間前
      .mypage__main__right-content__todo__lists__list
        .mypage__main__right-content__todo__lists__list__figure
          .mypage__main__right-content__todo__lists__list__figure__logo
            = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
          .mypage__main__right-content__todo__lists__list__figure__title
            ポケモンゴー
            .mypage__main__right-content__todo__lists__list__figure__title__box
              .mypage__main__right-content__todo__lists__list__figure__title__box__icon
                a
              .mypage__main__right-content__todo__lists__list__figure__title__box__time
                2時間前
      .mypage__main__right-content__todo__lists__list
        .mypage__main__right-content__todo__lists__list__figure
          .mypage__main__right-content__todo__lists__list__figure__logo
            = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
          .mypage__main__right-content__todo__lists__list__figure__title
            ポケモンゴー
            .mypage__main__right-content__todo__lists__list__figure__title__box
              .mypage__main__right-content__todo__lists__list__figure__title__box__icon
                a
              .mypage__main__right-content__todo__lists__list__figure__title__box__time
                2時間前
  .mypage__main__right-content__container
    .mypage__main__right-content__container__title
      .mypage__main__right-content__container__title__box
        購入した商品
    .mypage__main__right-content__container__tab
      .mypage__main__right-content__container__tab__menu.active
        取引中
      .mypage__main__right-content__container__tab__menu
        過去の取引
    .mypage__main__right-content__container__lists
      .mypage__main__right-content__container__lists__show.look
        .mypage__main__right-content__container__lists__show__list
          .mypage__main__right-content__container__lists__show__list__figure
            .mypage__main__right-content__container__lists__show__list__figure__logo
              = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
            .mypage__main__right-content__container__lists__show__list__figure__title
              ポケモンゴー
              .mypage__main__right-content__container__lists__show__list__figure__title__box
                .mypage__main__right-content__container__lists__show__list__figure__title__box__icon
                  a
                .mypage__main__right-content__container__lists__show__list__figure__title__box__time
                  2時間前
      .mypage__main__right-content__container__lists__show
        .mypage__main__right-content__container__lists__show__list
          .mypage__main__right-content__container__lists__show__list__figure
            .mypage__main__right-content__container__lists__show__list__figure__logo
              = image_tag "member_photo_noimage_thumb.png", class:"image", alt:"logo"
            .mypage__main__right-content__container__lists__show__list__figure__title
              ポケモん
              .mypage__main__right-content__container__lists__show__list__figure__title__box
                .mypage__main__right-content__container__lists__show__list__figure__title__box__icon
                  a
                .mypage__main__right-content__container__lists__show__list__figure__title__box__time
                  2時間前