.buy-main
  .buy-main__item

    .buy-main__item__header
      %h2 購入内容の確認

    .buy-main__item__image-deta
      .buy-main__item__image-deta__inner
        .buy-main__item__image-deta__inner__box
          %h3.item-image
            - @item.images.first(1).each do |item|
              = image_tag item.src.url, class:"img", alt:"buy-image"
          .item-deta
            %p.item-deta__name
              = @item.name
            %p.item-deta__text
              %span.price
                = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
              %span.fee
                （税込み)


    .buy-main__item__buyer-deta
      .buy-main__item__buyer-deta__inner
        = form_with url: pay_purchase_path do |f|
          %ul.price
            %li.price__table
              .price__table__pay
                支払い金額
              .price__table__money
                = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
              
          .point
            = check_box_tag :point_box
            = label_tag :point_tag, "ポイントを使用(所持ポイント : p)"

          .cards
            .cards__inner
              .clearfix.cards__inner__box
                %h3.left
                  支払い方法
                .right
                  = link_to new_creditcard_path do
                    変更する
              .cards__inner__text
                = "**** **** **** " + @creditcard_information.last4
              .cards__inner__logo


          .send
            .send__inner
              .clearfix.send__inner__box
                %h3.left
                  配送先
                .right
                  = link_to "#" do
                    変更する
              .send__inner__text
                〒
                = @address.postal_code
                .send__inner__text__inline
                  = @address.prefecture
                  = @address.city
                  = @address.address
                  .send__inner__text__inline2
                    = @address.family_name
                    = @address.first_name

          .buy-btn
            = f.submit '購入する', class:"buy-btn__submit", url: "pay_purchase_path", method: :post
