.exhibition-item-container
  .exhibition-item
    .exhibition-item__name
      = @item.name
    .exhibition-item__main-content
      - if @item.buyer_id.present?
        .exhibition-item__main-content__sold-out
          .exhibition-item__main-content__sold-out__inner
            SOLD
      .exhibition-item__main-content__item-photos
        .exhibition-item__main-content__item-photos__choice-photo
          - @item.images.first(1).each do |item|
            = image_tag item.src.url, class: 'top-icon', width: "300", height: '300'
        .exhibition-item__main-content__item-photos__other-photos
          - @item.images[0..10].each do |item|
            = image_tag item.src.url, class: 'top-icon', width: "60", height: '60'
      .exhibition-item__main-content__tbody
        .exhibition-item__main-content__tbody__exhibitor-box
          .exhibition-item__main-content__tbody__exhibitor-box__exhibitor
            出品者
          .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value
            .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-name
              = link_to user_path(@item.seller_id) do
                = @item.seller.nickname
            .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box
              .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__good
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__good__icon
                  = icon('fas', 'laugh')
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__good__count
                  75
              .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__normal
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__normal__icon
                  = icon('fas', 'meh')
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__normal__count
                  0
              .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__bad
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__bad__icon
                  = icon('fas', 'frown')
                .exhibition-item__main-content__tbody__exhibitor-box__exhibitor-value__exhibitor-evaluation-box__bad__count
                  1
        .exhibition-item__main-content__tbody__category-box
          .exhibition-item__main-content__tbody__category-box__category
            カテゴリー
          .exhibition-item__main-content__tbody__category-box__category-value
            .exhibition-item__main-content__tbody__category-box__category-value__category-1
              .exhibition-item__main-content__tbody__category-box__category-value__category-2
                = link_to "#" , class: "category-2" do
                  = icon('fas', 'chevron-right')
                  = link_to "#" , class: "category-1" do
                    - @parents.each do |parent|
                      - if @item.category_id == parent.id
                        = link_to "#" do
                          = parent.name
        .exhibition-item__main-content__tbody__brand-box
          .exhibition-item__main-content__tbody__brand-box__bland
            ブランド
          .exhibition-item__main-content__tbody__brand-box__bland-value
            = @item.brand
        .exhibition-item__main-content__tbody__item-size-box
          .exhibition-item__main-content__tbody__item-size-box__item-size
            商品のサイズ
          .exhibition-item__main-content__tbody__item-size-box__item-size-value
            = @item.size
        .exhibition-item__main-content__tbody__item-status-box
          .exhibition-item__main-content__tbody__item-status-box__item-status
            商品の状態
          .exhibition-item__main-content__tbody__item-status-box__item-status-value
            = @item.trading_status
        .exhibition-item__main-content__tbody__delivery-fee-burden-box
          .exhibition-item__main-content__tbody__delivery-fee-burden-box__delivery-fee-burden
            配送料の負担
          .exhibition-item__main-content__tbody__delivery-fee-burden-box__delivery-fee-burden-value
            = @item.postage_payer
        .exhibition-item__main-content__tbody__delivery-method-box
          .exhibition-item__main-content__tbody__delivery-method-box__delivery-method
            配送方法
          .exhibition-item__main-content__tbody__delivery-method-box__delivery-method-value
            = @item.postage_type
        .exhibition-item__main-content__tbody__shipping-area-box
          .exhibition-item__main-content__tbody__shipping-area-box__shipping-area
            配送元地域
          .exhibition-item__main-content__tbody__shipping-area-box__shipping-area-value
            = @item.shipping_area
        .exhibition-item__main-content__tbody__date-of-shipment-box
          .exhibition-item__main-content__tbody__date-of-shipment-box__date-of-shipment
            発送日の目安
          .exhibition-item__main-content__tbody__date-of-shipment-box__date-of-shipment-value
            = @item.shipping_date
    .exhibition-item__price-box
      .exhibition-item__price-box__price
        ￥
        = @item.price
      .exhibition-item__price-box__tax
        （税込み）
    .exhibition-item__buy-btn
      - if user_signed_in? && current_user.id == @item.seller_id
        = link_to "削除する", item_path(@item.id), method: :delete,class:"item-delete-btn"
        = link_to "編集する", edit_item_path(@item.id),class:"item-edit-btn"
      - elsif @item.buyer_id.present? 
        = link_to "売り切れました",root_path,class:"disabled-button bold"
      - elsif user_signed_in?
        = link_to "購入画面に進む", purchase_path(@item.id), class: "item-buy-btn"
      - else
        = link_to "ログインしてください",new_user_session_path,class:"disabled-button bold"
    .exhibition-item__description
      = @item.introduction
      .exhibition-item__description__left-button
        .exhibition-item__description__left-button__icon
          = icon('far', 'heart')
        .exhibition-item__description__left-button__icon__like
          いいね！
        .exhibition-item__description__left-button__icon__count
          2