.same-category-items-container
  .same-category-items
    .same-category-items__same-category
      = link_to "#" , class: "same-category-item__category-name" do
        その他 （家電・スマホ・カメラ） その他の商品
    .same-category-items__content
      = link_to "#" do
        .same-category-items__content__box
          .same-category-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .same-category-items__content__box__description
            .same-category-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .same-category-items-transparent
            .same-category-items__content__box__description__item-price
              .same-category-items__content__box__description__item-price__price
                ¥20,000
              .same-category-items__content__box__description__item-price__like
                .same-category-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .same-category-items__content__box__description__item-price__like__count
                  22

      = link_to "#" do
        .same-category-items__content__box
          .same-category-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .same-category-items__content__box__description
            .same-category-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .same-category-items-transparent
            .same-category-items__content__box__description__item-price
              .same-category-items__content__box__description__item-price__price
                ¥20,000
              .same-category-items__content__box__description__item-price__like
                .same-category-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .same-category-items__content__box__description__item-price__like__count
                  22

      = link_to "#" do
        .same-category-items__content__box
          .same-category-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .same-category-items__content__box__description
            .same-category-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .same-category-items-transparent
            .same-category-items__content__box__description__item-price
              .same-category-items__content__box__description__item-price__price
                ¥20,000
              .same-category-items__content__box__description__item-price__like
                .same-category-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .same-category-items__content__box__description__item-price__like__count
                  22

      = link_to "#" do
        .same-category-items__content__box
          .same-category-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .same-category-items__content__box__description
            .same-category-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .same-category-items-transparent
            .same-category-items__content__box__description__item-price
              .same-category-items__content__box__description__item-price__price
                ¥20,000
              .same-category-items__content__box__description__item-price__like
                .same-category-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .same-category-items__content__box__description__item-price__like__count
                  22

      = link_to "#" do
        .same-category-items__content__box
          .same-category-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .same-category-items__content__box__description
            .same-category-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .same-category-items-transparent
            .same-category-items__content__box__description__item-price
              .same-category-items__content__box__description__item-price__price
                ¥20,000
              .same-category-items__content__box__description__item-price__like
                .same-category-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .same-category-items__content__box__description__item-price__like__count
                  22