.user-items-container
  .user-items
    .user-items__user-name
      = link_to "#" , class: "exhibition-item-user-name" do
        おたんこなすさんのその他の出品
    .user-items__content
      = link_to "#" do
        .user-items__content__box
          .user-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .user-items__content__box__description
            .user-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .user-items-transparent
            .user-items__content__box__description__item-price
              .user-items__content__box__description__item-price__price
                ¥20,000
              .user-items__content__box__description__item-price__like
                .user-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .user-items__content__box__description__item-price__like__count
                  1

      = link_to "#" do
        .user-items__content__box
          .user-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .user-items__content__box__description
            .user-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .user-items-transparent
            .user-items__content__box__description__item-price
              .user-items__content__box__description__item-price__price
                ¥20,000
              .user-items__content__box__description__item-price__like
                .user-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .user-items__content__box__description__item-price__like__count
                  1

      = link_to "#" do
        .user-items__content__box
          .user-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .user-items__content__box__description
            .user-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .user-items-transparent
            .user-items__content__box__description__item-price
              .user-items__content__box__description__item-price__price
                ¥20,000
              .user-items__content__box__description__item-price__like
                .user-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .user-items__content__box__description__item-price__like__count
                  1

      = link_to "#" do
        .user-items__content__box
          .user-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .user-items__content__box__description
            .user-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .user-items-transparent
            .user-items__content__box__description__item-price
              .user-items__content__box__description__item-price__price
                ¥20,000
              .user-items__content__box__description__item-price__like
                .user-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .user-items__content__box__description__item-price__like__count
                  1

      = link_to "#" do
        .user-items__content__box
          .user-items__content__box__image
            = image_tag "icon-01.png", class:"image", alt:"logo"
          .user-items__content__box__description
            .user-items__content__box__description__item-name
              あああああああああああああああああああああああああああああああああああああああああ
              .user-items-transparent
            .user-items__content__box__description__item-price
              .user-items__content__box__description__item-price__price
                ¥20,000
              .user-items__content__box__description__item-price__like
                .user-items__content__box__description__item-price__like__icon
                  = icon('far', 'heart')
                .user-items__content__box__description__item-price__like__count
                  1