.wrapper
  = render 'signin/indexHeader'
  .sell-container
    = form_with model: @item, local:true, class:"sell-upload-form" do |f|
      .sell-top
      %h2.sell-header
        商品の情報を入力してください
      .sell-upload-form
        -# 出品画像アップロード
        .sell-upload-form__image.sell-container-all-padding.container-border-top
          %p
            = label :image, '出品画像',class: 'sell-label'
            %span.form-box
              必須
          %p.upload-maximum
            最大10枚までアップロードできます
          .upload-box
            %ul#preview
              %p.sell-upload-form__image--images-container
                #image-box
                  #previews
                    - if @item.persisted?
                      - @item.images.each_with_index do |image, i|
                        = image_tag image.src.url, data: { index: i }, width: "100", height: '100'
                  = f.fields_for :images do |image|
                    .js-file_group{"data-index" => image.index}
                      = image.file_field :src, class: 'js-file'
                      %br/
                      %span.js-remove 削除
                    - if @item.persisted?
                      = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
                  - if @item.persisted?
                    .js-file_group{"data-index" => @item.images.count}
                      = file_field_tag :src, name: "image[images_attributes][#{@item.images.count}][src]", class: 'js-file'
                      .js-remove 削除
                  -#   %br/
                  -# ドラッグアンドドロップ
                  -# %br
                  -# またはクリックしてファイルをアップロード
        .input-error#item_image_error
        -# 商品名、商品の説明
        .sell-form-container.sell-container-all-padding.container-border-top
          %p
            = label :name, '商品名',class: 'sell-label'
            %span.form-box 必須
          = f.text_field :name, placeholder: '商品名（40文字まで）',class: 'default-input sell-title'
          .input-error#item_name_error
        .sell-form-container.sell-container-side-padding
          %p
            = label :introduction, '商品の説明',class: 'sell-label'
            %span.form-box 必須
          = f.text_area :introduction, placeholder: "商品の説明（必須1,000文字以内）（色、素材、重さ、定価、注意点など）　例）　2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: 'default-input sell-input-area'
          .input-error#item_introduce_error
        -# 商品の詳細
        .sell-container-all-padding.container-border-top.flex
          .sell-container-left
            商品の詳細
          .sell-container-right
            %p
              -# = label :category_index, 'カテゴリー',class: 'sell-label'
              %span.form-box 必須
              .select-wrap
                .select-wrap__icon
                  = icon('fas', 'angle-down')
                -# = f.collection_select :category_id, @parents, :id, :name, {prompt: "選択してくだい"}, class: "select-wrap__select-box",id:"parent_category"
                -#   %option{value: "0"}  選択してください
            -# .category_wrapper
            -#   .select-wrap.category_index_wrapper
                -# = f.collection_select :category_id, @params, :id, :name, {prompt: "選択してください"}, id:"parent_category"
              .input-error#item_category_index_id_error
            %p.margin-2rem
              = label :brand, 'ブランド',class: 'sell-label'
              %span.form-box-option 任意
            = f.text_field :brand, placeholder: "例）シャネル ", class: 'default-input sell-brand'
            %p.margin-2rem
              = label :trading_status, '商品の状態',class: 'sell-label'
              %span.form-box 必須
              .select-wrap
                .select-wrap__icon
                  = icon('fas', 'angle-down')
                = f.select :trading_status, TradingStatus.pluck(:status).unshift('選択してください'),{},{class: 'default-select select-wrap__sell-select-box'}
                -# %select.select-wrap__select-box{name: "status", id: "status"}
                -#   %option{value: "0"}  選択してください
              -# = f.collection_select :trading_status_id, TradingStatus.group(:status).order(id: :asc), :id, :status, {prompt: "選択してください"},id:"newSelect"
        -# 配送について
        .sell-container-all-padding.container-border-top.flex
          .sell-container-left
            %p
              配送について
              = link_to "" do
                %i.fas.fa-question-circle.link-space-reset
          .sell-container-right
            %p
              = label :postage_payer, '配送料の負担',class: 'sell-label'
              %span.form-box 必須
              .select-wrap
                .select-wrap__icon
                  = icon('fas', 'angle-down')
                = f.select :postage_payer, PostagePayer.pluck(:payer).unshift('選択してください'),{},{class: 'default-select select-wrap__sell-select-box'}
                -# = select :postage_payer, :name, Item.postage_payers.keys.to_a, include_blank: true
                -# %select.select-wrap__select-box{name: "payer", id: "payer"}
                -#   %option{value: "0"}  選択してください
              -# = f.collection_select :postage_payer_id, PostagePayer.group(:payer).order(id: :asc), :id, :payer, {prompt: "選択してください"},id:"newSelect"
            .input-error#item_postage_payer_error
            %p.margin-2rem
              = label :postage_type, '配達方法',class: 'sell-label'
              %span.form-box 必須
              .select-wrap
                .select-wrap__icon
                  = icon('fas', 'angle-down')
                = f.select :postage_type, PostageType.pluck(:type).unshift('選択してください'),{},{class: 'default-select select-wrap__sell-select-box'}
              -#   %select.select-wrap__select-box{name: "", id: ""}
              -#     %option{value: "0"}  選択してください
              -# -# = f.collection_select :postage_type_id, PostageType.all, :name, :name, {prompt: "選択してください"}
            .input-error#item_postage_type_error
            %p.margin-2rem
              = label :shipping_area, '発送元の地域',class: 'sell-label'
              %span.form-box 必須
            .select-wrap
              .select-wrap__icon
                = icon('fas', 'angle-down')
              = f.select :shipping_area, ShippingArea.pluck(:area).unshift('選択してください'),{},{class: 'default-select select-wrap__sell-select-box'}
              -# %select.select-wrap__select-box{name: "area", id: "area"}
              -#   %option{value: "0"}  選択してください
            -# = f.collection_select :shipping_area_id, ShippingArea.group(:area).order(id: :asc), :id, :area, {prompt: "選択してください"},id:"newSelect"
            .input-error#item_shipping_area_error
            %p.margin-2rem
              = label :shipping_date, '発送までの日数',class: 'sell-label'
              %span.form-box 必須
            .select-wrap
              .select-wrap__icon
                = icon('fas', 'angle-down')
              = f.select :shipping_date, ShippingDate.pluck(:date).unshift('選択してください'),{},{class: 'default-select select-wrap__sell-select-box'}
              -# = select :shipping_date, :name, Item.shipping_dates.keys.to_a
              -# %select.select-wrap__select-box{name: "date", id: "date"}
              -#   %option{value: "0"}  選択してください
              -# = f.collection_select :shipping_date_id, ShippingDate.group(:date).order(id: :asc), :id, :date, {prompt: "選択してください"},id:"newSelect"
            .input-error#item_shipping_date_error
        -# 販売価格
        .sell-container-all-padding.container-border-top.flex
          .sell-container-left.link-space-reset
            %p.selling-price
              販売価格
              %span.link-space-reset (¥300〜9,999,999)
              = link_to "" do
                %i.fas.fa-question-circle
          .sell-container-right
            .sell-container-right__price-wrapper
              %p
                = label :price, '価格',class: 'sell-label' do
                  価格
                  %span.form-box 必須
              %span.price-unit
                ¥
              .sell-container-right__price-wrapper__input
                = f.text_field :price, placeholder: "例：300", id:"item_price", class: 'default-input price ', style:"text-align:right"
            .input-error#item_price_error
            .sell-container-right__price-fee
              .sell-container-right__price-fee__text
                %p
                  販売手数料(10%)
              .sell-container-right__price-fee__price
                %p
                  ー
            .sell-container-right__price-benefit
              %p
                販売利益
              %p
                ー
        -# 出品ボタン
        .sell-container-all-padding.container-border-top
          .sell-container-submit
            = f.submit "出品する",class: 'sell-container-submit__btn'
          .sell-container-back
            %p
              = link_to root_path,class: 'sell-container-back__btn' do
                %span もどる
          .sell-container-description
            %p
              禁止されている
              = link_to "行為"
              および
              = link_to "出品物"
              を必ずご確認ください。
            %p
              = link_to "偽ブランド品"
              や
              = link_to "盗品物"
              などの販売は犯罪であり、法律により処罰される可能性があります。
            %p
              また、出品をもちまして
              = link_to "加盟店規約"
              に同意したことになります。
  = render 'signin/footer'
-# コメントアウトの箇所はサーバーサイドの実装で使用予定
